{{template "head" .page}}
<div class="ts padded slate">
    <span class="header">404</span>
    <span class="header">糟糕！找不到您所存取的資源</span>
    <span class="description">很抱歉，目前存取的路徑不存在</span>
    <div class="action">
        <a class="ts primary button" href="/">現在開始</a>
    </div>
</div>
{{template "footer"}}