{{template "head" .page}}
<br>
<h2>關於</h2>
這是一個方便放東西的系統。<br> 只需要將靜態文件放置 upload_file 資料夾或 <a href="upload">上傳</a> 即可
<h2>本系統使用規範</h2>
<ul>
    <li> 僅供學術研究用途使用</li>
    <li> 請勿用於商業用途，軟體及商標版權歸其所有人所有</li>
    <li> 系統後端由 <a href="https://steveyi.net/">@steveyiyo</a> 所開發</li>
    <li> 伺服器由 <a href="https://iambjlu.yiy.tw/">@iambjlu</a> 及 <a href="https://steveyi.net/">@steveyiyo</a> 共同維護</li>
</ul>
<h2>建議我們</h2>
我們歡迎您針對此系統給予建議。<br> 您可至此專案的 <a href="https://github.com/steveyiyo/file_folder">GitHub Repo</a> 開啟新的 Issue 或是 PR<br>
<div class="red_font">安全問題請勿開啟 Issue 或是 PR，請先行發信至 admin_steveyi_net !!!</div>
{{template "footer"}}