<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>上傳檔案</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://static.yiy.tw/media/logo/Yi_logo.png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="https://static.yiy.tw/static/img/apple-touch-icon-114x114.png">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>

        <style>
            body {
                font-family: 'Noto Sans TC', sans-serif;
                background-color: #f3f3f3;
            }

            h1 {
                text-align: center;
            }

            .copyright {
                text-align: center;
            }

            .dropzone {
                background: white;
                border-radius: 4px;
                border: 2px dashed rgb(0, 135, 247);
                border-image: none;
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }

            .dropzone .dz-preview .dz-image {
                border-radius: 4px;
            }

            .dropzone .dz-preview.dz-file-preview .dz-image {
                background: #0387f7;
            }
        </style>

    </head>

    <body>

        <h1>檔案上傳寶寶</h1>
        <section>
            <form class="dropzone" id="upload-form" action="/upload">
                <div class="dz-message">
                點擊這裡，或將檔案拖到這邊上傳
            </div>
            </form>
        </section>
        <br/>
        <div class="copyright">Design by
        <a href="https://steveyi.net/">SteveYi</a> and <a href="https://iambjlu.yiy.tw/">iambjlu</a> at
        <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>
            <br> 此頁面由 <a href="https://gnehs.net/">gnehs</a> 可愛支援
    </div>

        <script>
            var dropzone = new Dropzone('#upload-form', {
                paramName: "upload_file",
                maxFilesize: 4768
            });
        </script>

    </body>

</html>