{{template "head" .page}}
<section>
    <form class="dropzone" id="upload-form" action="/upload">
        <div class="dz-message">
            點擊這裡，或將檔案拖到這邊上傳
        </div>
    </form>
</section>


<script>
    var dropzone = new Dropzone('#upload-form', {
        paramName: "upload_file",
        maxFilesize: 4768
    });
</script>
{{template "footer"}}